<h2>Hi <%= session[:player_name] %>, welcome to Blackjack</h2>

<% if @play_again_buttons %>

<p>
    <strong>Play again? </strong>
    <a href="/bet" class="btn btn-primary">Yes </a>
    <a href="/game_over" class="btn" > No </a>
</p>
<% end %>

<div class="well">
<p>Dealer's cards are:</p>
    <% session[:dealer_cards].each_with_index do |card, i|  %>
      <% if  session[:turn] !="dealer"  && i == 0 %>
        <img src="/images/cards/cover.jpg" >
    <% else %>
        <%=    card_image(card)  %>
      <%  end  %>
    <% end %>

    <% if @show_dealer_hit_button  %>
     <p>
      <h5>dealer has <%= total(session[:dealer_cards]) %> and must hit</h5>
       <form action='/game/dealer/hit' method='post'>
          <input type='submit' class='btn btn-inverse' value="click to see dealer's card &hearts;">
       </form>
    <% end %>
      </p>
</div>

</br>
</br>

<div class="well">
<p><%= session[:player_name] %>'s cards are:</p>
    <% session[:player_cards].each do |card|  %>
    <%=    card_image(card)  %>
    <% end %>
  </br>
</br>
   <p><strong>Bet amount for this hand is : <%= session[:bet_amount] %></strong> </p>
    <p><%= session[:player_name] %> has <%= total(session[:player_cards]) %></p>


<% if @show_hit_stay_button %>

<form action='/game/player/hit' method='post'>
<input type='submit' class='btn btn-success' value='hit'>
</form>

<form action='/game/player/stay' method='post'>
<input type='submit' class='btn btn-warning' value='stay'>
</form>

<% end %>
</div>